.hero-image {
    background-image: url("resort_background.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.banner-text {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 6px #000000;
}

.search-bar {
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}